@mixin multiInputNode {
  height: auto;
  //max-width: 250px;
  min-width: 250px;
  border: 1px solid #eee;
  padding: 18px 20px;
  border-radius: 18px;
  background: white;
  color: #777;
}

@mixin singleInputNode {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  border: 1px solid #eee;
  padding: 12px 14px;
  margin: 0;
  border-radius: 17px;
  background: white;
  color: #777;
  width: auto;
  overflow: hidden;
}

$BG: #E3E3E3;
$sage-light: #87BC83;
$sage-text: #70A76C;
$dark-grey: #484B50;
$light-grey: #9BA2AE;

$sans-serif: "IvyEpic Variable";
$serif: "IvyOra Display";
$italic: "IvyJournal";

.handle {
  background: $sage-light;
  border: none;
  width: 10px;
  height: 10px;

  &.target {
    top: -15px;
  }

  &.source {
    bottom: -15px;
  }
}

.nodeWrapper.selected {
  outline: 4px $sage-light solid;
}


.react-flow__edge-path {
  stroke: $sage-light;
  stroke-width: 2px;
}

.deleteEdgeButton {
  width: 10px;
  height: 10px;
  padding: 0px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $sage-light;
  outline: 1.75px $sage-text solid;
}

.nodeButton {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  pointer-events: all;
  width: 14px;
  height: 14px;
  padding: 0px;
  background-color: white;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px, rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.text-receiver-node {
  @include singleInputNode()
}

.dialogue-node {
  @include multiInputNode();
  width: min-content;

  input {
    font-family: "IvyOra Display";
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
  }

}

.response-node {
  @include singleInputNode();
  border-radius: 15px;
  width: auto;

  input {
    font-weight: 600;
  }
}

.exposition-node {
  @include multiInputNode();
  width: auto;

  textarea {
    width: 100%;
    background: inherit;
    border: none;
    color: $sage-text;
    font-family: $italic;
    font-style: italic;
  }
}

.meta-node {
  @include multiInputNode();
  //width: auto;
}

.signal-node {
  @include singleInputNode();
  background-color: $sage-light;

  .react-flow__handle.connectionindicator {
    background-color: white;
    border: 2px solid $sage-light;
  }

  input {
    color: white;
    font-weight: 600;
    overflow: visible;
    padding: 1px;
  }
}