$BG: #E3E3E3;
$sage-light: #87BC83;
$sage-text: #70A76C;
$dark-grey: #484B50;
$light-grey: #9BA2AE;

$sans-serif: ivyepic, "IvyEpic Variable";
$serif: ivyora-display, "IvyOra Display";
$italic: ivyjournal, "IvyJournal";

html {
    background: #E3E3E3;
    font-family: $sans-serif;
    overflow: hidden;
    height: 100svh;
    width: 100svw;
}

body {
    margin: 0px;
}

label {
    display: block;
    color: #777;
    font-size: 16px;
}

p {
    margin: 0;
    font-size: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: $sans-serif;
}

input {
    font-family: $sans-serif;
    font-size: 16px;
    width: 100%;
    background: inherit;
    border: none;
    color: #777;
    padding: 0;
    margin: 0;
}

textarea {
    width: 100%;
    background: inherit;
    border: none;
    color: #777;
    font-family: $sans-serif;
    font-size: 16px;
    padding: 0;
}

button {
    width: min-content;
    text-wrap: nowrap;
    margin: 0;
    padding: 5px;

    display: flex;
    align-items: center;
    gap: 8px;

    border-radius: 8px;
    border: 2px solid transparent;
    color: $dark-grey;

    font-size: 16px;
    font-weight: 500;
    font-family: inherit;
    //background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;

    filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.05)) drop-shadow(3px 5px 11px rgba(0, 0, 0, 0.05));

    &:hover {
        border-color: $sage-text;
    }

    &:focus,
    &:focus-visible {
        outline: 4px auto -webkit-focus-ring-color;
    }
}

.hidden {
    display: none;
}

.react-flow__attribution {
    display: none;
}

.nodeTypePanel {
    padding-right: 10px;

    .material-symbols-rounded {
        font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 100,
            'opsz' 30;
    }
}