$BG: #E3E3E3;
$sage-light: #87BC83;
$sage-text: #70A76C;
$dark-grey: #484B50;
$light-grey: #9BA2AE;

$sans-serif: "IvyEpic Variable";
$serif: "IvyOra Display";
$italic: "IvyJournal";

html {
    background: #E3E3E3;
    font-family: $sans-serif;
}

body {
    margin: 0px;
}

label {
    display: block;
    color: #777;
    font-size: 14px;
}

p {
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: "IvyEpic Variable";
}

input {
    font-family: "IvyEpic Variable";
    width: 100%;
    background: inherit;
    border: none;
    color: #777;
    padding: 0;
    margin: 0;
}

textarea {
    width: 100%;
    background: inherit;
    border: none;
    color: #777;
    font-family: $sans-serif;
    font-size: 13px;
    padding: 0;
}

button {
    width: min-content;
    text-wrap: nowrap;
    margin: 0;
    padding: 10px;

    display: flex;
    align-items: center;
    gap: 8px;

    border-radius: 50px;
    border: 2px solid transparent;
    color: $dark-grey;

    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    //background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;

    &:hover {
        border-color: $sage-text;
    }

    &:focus,
    &:focus-visible {
        outline: 4px auto -webkit-focus-ring-color;
    }
}